<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>652785867182-s3elv3fr2tk3t4gsmmdb73qoka1hvc6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652785867182-s3elv3fr2tk3t4gsmmdb73qoka1hvc6a</string>
	<key>API_KEY</key>
	<string>AIzaSyCNcKOvGzhLW2OBdaw4j7qH5HB94Wee5Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>652785867182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matschmid.iMessage</string>
	<key>PROJECT_ID</key>
	<string>realtime-imessage</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-imessage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:652785867182:ios:213ff5315e5df3fb</string>
	<key>DATABASE_URL</key>
	<string>https://realtime-imessage.firebaseio.com</string>
</dict>
</plist>